<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ca.carleton.tim.ksat.client.KSATApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="KSAT Perspective"
            class="ca.carleton.tim.ksat.client.Perspective"
            id="ca.carleton.tim.ksat.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ca.carleton.tim.ksat.client.AnalysesView"
            icon="icons/analyses.gif"
            id="ca.carleton.tim.ksat.client.views.analyses"
            name="Analyses"
            restorable="true">
      </view>
   </extension>
   <extension
        point="org.eclipse.ui.views">
        <view
              class="ca.carleton.tim.ksat.client.SitesView"
              icon="icons/site.gif"
              id="ca.carleton.tim.ksat.client.views.sites"
              name="Sites">
        </view>
    </extension>
    <extension
        point="org.eclipse.ui.views">
        <view
              class="ca.carleton.tim.ksat.client.KeywordsView"
              icon="icons/keywords.gif"
              id="ca.carleton.tim.ksat.client.views.keywords"
              name="Keywords">
        </view>
    </extension>
    <extension
          point="org.eclipse.ui.views">
          
        <view
              class="ca.carleton.tim.ksat.client.ResultsView"
              icon="icons/report.gif"
              id="ca.carleton.tim.ksat.client.views.results"
              name="Results">
        </view>
    </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ca.carleton.tim.ksat.application"
            name="Keyword Search and Analysis Tool (KSAT)">
         <property
               name="windowImages"
               value="icons/KSAT.large.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="appName"
               value="Keyword Search and Analysis Tool (KSAT)">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ca.carleton.tim.ksat.client.KSATPreferencePage"
            id="ca.carleton.tim.ksat.client.KSATPreferencePage"
            name="System Preferences">
      </page>
      <page
            class="ca.carleton.tim.ksat.client.LoggingPreferencePage"
            id="ca.carleton.tim.ksat.client.LoggingPreferencePage"
            name="Logging">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ca.carleton.tim.ksat.client.DBPropertiesPage"
            id="ca.carleton.tim.ksat.client.dbproperty"
            name="KSATDBProperties">
         <enabledWhen>
            <instanceof
                  value="ca.carleton.tim.ksat.client.AnalysisDatabase">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.carleton.tim.ksat.client.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.carleton.tim.ksat.client.CreateNewDatabaseHandler"
            id="ca.carleton.tim.ksat.client.command.CreateNewDatabase"
            name="CreateNewDatabase">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.ConnectToDatabaseHandler"
            id="ca.carleton.tim.ksat.client.command.ConnectToDatabase"
            name="ConnectToDatabase">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.EditDatabaseHandler"
            id="ca.carleton.tim.ksat.client.command.EditDatabase"
            name="EditDatabase">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.RemoveDatabaseHandler"
            id="ca.carleton.tim.ksat.client.command.RemoveDatabase"
            name="RemoveDatabase">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.RunAnalysisHandler"
            id="ca.carleton.tim.ksat.client.command.RunAnalysis"
            name="RunAnalysis">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.ExportCSVHandler"
            id="ca.carleton.tim.ksat.client.command.ExportCSV"
            name="ExportCSV">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.EditSiteHandler"
            id="ca.carleton.tim.ksat.client.command.EditSite"
            name="ExportSite">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.AddSiteHandler"
            id="ca.carleton.tim.ksat.client.command.AddSite"
            name="AddSite">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.RemoveSiteHandler"
            id="ca.carleton.tim.ksat.client.command.RemoveSite"
            name="RemoveSite">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.EditKeywordHandler"
            id="ca.carleton.tim.ksat.client.command.EditKeyword"
            name="EditKeyword">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.AddKeywordHandler"
            id="ca.carleton.tim.ksat.client.command.AddKeyword"
            name="AddKeyword">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.RemoveKeywordHandler"
            id="ca.carleton.tim.ksat.client.command.RemoveKeyword"
            name="RemoveKeyword">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.CreateNewDatabase"
              label="Create New Database ..."
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.client.KSATRoot">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.ConnectToDatabase"
              label="Connect to Database"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.client.AnalysisDatabase">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.EditDatabase"
              label="Edit Database Properties..."
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.client.AnalysisDatabase">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RemoveDatabase"
              label="Remove Database"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.client.AnalysisDatabase">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RunAnalysis"
              label="Run Analysis ..."
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.client.AnalysisAdapter">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.ExportCSV"
              label="Export to CSV file ..."
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.model.AnalysisResult">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.EditSite"
              label="Edit Site"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.model.Site">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.AddSite"
              label="Add Site"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.model.Site">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RemoveSite"
              label="Remove Site"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.model.Site">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.EditKeyword"
              label="Edit Keyword"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.model.KeywordExpression">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.AddKeyword"
              label="Add Keyword"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.model.KeywordExpression">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RemoveKeyword"
              label="Remove Keyword"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                 <with
                   variable="activeMenuSelection">
                   <iterate operator="and" ifEmpty="false">
                      <adapt
                            type="ca.carleton.tim.ksat.model.KeywordExpression">
                      </adapt>
                    </iterate>
                 </with>
               </visibleWhen>
        </command>
     </menuContribution>
   </extension>

</plugin>
