<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ca.carleton.tim.ksat.client.KSATApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="KSAT Perspective"
            class="ca.carleton.tim.ksat.client.Perspective"
            id="ca.carleton.tim.ksat.client.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ca.carleton.tim.ksat.client.AnalysesView"
            icon="icons/analyses.gif"
            id="ca.carleton.tim.ksat.client.views.analyses"
            name="Analyses"
            restorable="true">
      </view>
   </extension>
   <extension
        point="org.eclipse.ui.views">
        <view
              class="ca.carleton.tim.ksat.client.SitesView"
              icon="icons/sites.gif"
              id="ca.carleton.tim.ksat.client.views.sites"
              name="Sites">
        </view>
    </extension>
    <extension
        point="org.eclipse.ui.views">
        <view
              class="ca.carleton.tim.ksat.client.KeywordsView"
              icon="icons/keywords.gif"
              id="ca.carleton.tim.ksat.client.views.keywords"
              name="Keywords">
        </view>
    </extension>
    <extension
          point="org.eclipse.ui.views">
          
        <view
              class="ca.carleton.tim.ksat.client.ResultsView"
              icon="icons/report.gif"
              id="ca.carleton.tim.ksat.client.views.results"
              name="Results">
        </view>
    </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ca.carleton.tim.ksat.application"
            name="Keyword Search and Analysis Tool (KSAT)">
         <property
               name="windowImages"
               value="icons/KSAT.large.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="appName"
               value="Keyword Search and Analysis Tool (KSAT)">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ca.carleton.tim.ksat.client.KSATPreferencePage"
            id="ca.carleton.tim.ksat.client.KSATPreferencePage"
            name="System Preferences">
      </page>
      <page
            class="ca.carleton.tim.ksat.client.LoggingPreferencePage"
            id="ca.carleton.tim.ksat.client.LoggingPreferencePage"
            name="Logging">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.carleton.tim.ksat.client.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ca.carleton.tim.ksat.client.DbConnectionTester"
            id="ca.carleton.tim.ksat.client.propertyTester.DbConnectionTester"
            namespace="ca.carleton.tim.ksat.client"
            properties="isConnected"
            type="ca.carleton.tim.ksat.client.AnalysisDatabase">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ca.carleton.tim.ksat.client.command.CreateNewDatabase"
            name="CreateNewDatabase">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.ConnectToDatabase"
            name="ConnectToDatabase">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.DisconnectFromDatabase"
            name="DisconnectFromDatabase">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.EditDatabase"
            name="EditDatabase">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.RemoveDatabase"
            name="RemoveDatabase">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.CreateNewAnalysis"
            name="CreateNewAnalysis">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.CreateTables"
            name="CreateTables">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.RemoveAnalysis"
            name="RemoveAnalysis">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.RunAnalysis"
            name="RunAnalysis">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.ExportCSV"
            name="ExportCSV">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.AddSitesHandler"
            id="ca.carleton.tim.ksat.client.command.AddSite"
            name="AddSite">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.RemoveSite"
            name="RemoveSite">
      </command>
      <command
            defaultHandler="ca.carleton.tim.ksat.client.AddKeywordsHandler"
            id="ca.carleton.tim.ksat.client.command.AddKeywords"
            name="AddKeywords">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.RemoveKeyword"
            name="RemoveKeyword">
      </command>
      <command
            id="ca.carleton.tim.ksat.client.command.RemoveResult"
            name="RemoveResult">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isRoot">
            <with variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="ca.carleton.tim.ksat.client.KSATRoot">
                  </adapt>
               </iterate>
            </with>
      </definition>
      <definition
            id="isConnectedDatabase">
            <with variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="ca.carleton.tim.ksat.client.AnalysisDatabase">
                  </adapt>
                  <test
                        forcePluginActivation="true"
                        property="ca.carleton.tim.ksat.client.isConnected">
                  </test>
               </iterate>
            </with>
      </definition>
      <definition
            id="isDisconnectedDatabase">
            <with variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="ca.carleton.tim.ksat.client.AnalysisDatabase">
                  </adapt>
                  <not>
                      <test
                            forcePluginActivation="true"
                            property="ca.carleton.tim.ksat.client.isConnected">
                      </test>
                  </not>
               </iterate>
            </with>
      </definition>
      <definition
            id="isAnalysis">
            <with variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="ca.carleton.tim.ksat.client.AnalysisAdapter">
                  </adapt>
               </iterate>
            </with>
      </definition>
      <definition
            id="isResult">
            <with variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="ca.carleton.tim.ksat.model.AnalysisResult">
                  </adapt>
               </iterate>
            </with>
      </definition>
      <definition
            id="isSite">
            <with
                variable="activeMenuSelection">
                <iterate operator="and" ifEmpty="false">
                    <adapt
                        type="ca.carleton.tim.ksat.model.Site">
                    </adapt>
                </iterate>
            </with>
      </definition>
      <definition
            id="isKeyword">
            <with
                variable="activeMenuSelection">
                <iterate operator="and" ifEmpty="false">
                    <adapt
                        type="ca.carleton.tim.ksat.model.KeywordExpression">
                    </adapt>
                </iterate>
            </with>
      </definition>
   </extension>
   <extension
      point="org.eclipse.ui.handlers">
      <handler
         class="ca.carleton.tim.ksat.client.CreateNewDatabaseHandler"
         commandId="ca.carleton.tim.ksat.client.command.CreateNewDatabase">
         <activeWhen>
            <reference
                  definitionId="isRoot">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.ConnectToDatabaseHandler"
            commandId="ca.carleton.tim.ksat.client.command.ConnectToDatabase">
         <activeWhen>
            <reference
                  definitionId="isDisconnectedDatabase">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.DisconnectFromDatabaseHandler"
            commandId="ca.carleton.tim.ksat.client.command.DisconnectFromDatabase">
         <activeWhen>
            <reference
                  definitionId="isConnectedDatabase">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.EditDatabaseHandler"
            commandId="ca.carleton.tim.ksat.client.command.EditDatabase">
         <activeWhen>
            <reference
                  definitionId="isDisconnectedDatabase">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.RemoveDatabaseHandler"
            commandId="ca.carleton.tim.ksat.client.command.RemoveDatabase">
         <activeWhen>
            <reference
                  definitionId="isDisconnectedDatabase">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.CreateNewAnalysisHandler"
            commandId="ca.carleton.tim.ksat.client.command.CreateNewAnalysis">
         <activeWhen>
            <reference
                  definitionId="isConnectedDatabase">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.CreateTablesHandler"
            commandId="ca.carleton.tim.ksat.client.command.CreateTables">
         <activeWhen>
            <reference
                  definitionId="isConnectedDatabase">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.RunAnalysisHandler"
            commandId="ca.carleton.tim.ksat.client.command.RunAnalysis">
         <activeWhen>
            <reference
                  definitionId="isAnalysis">
            </reference></activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.RemoveAnalysisHandler"
            commandId="ca.carleton.tim.ksat.client.command.RemoveAnalysis">
         <activeWhen>
            <reference
                  definitionId="isAnalysis">
            </reference></activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.ExportCSVHandler"
            commandId="ca.carleton.tim.ksat.client.command.ExportCSV">
         <activeWhen>
            <reference
                  definitionId="isResult">
            </reference></activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.RemoveSiteHandler"
            commandId="ca.carleton.tim.ksat.client.command.RemoveSite">
         <activeWhen>
            <reference
                  definitionId="isSite">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.RemoveKeywordHandler"
            commandId="ca.carleton.tim.ksat.client.command.RemoveKeyword">
         <activeWhen>
            <reference
                  definitionId="isKeyword">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ca.carleton.tim.ksat.client.RemoveResultHandler"
            commandId="ca.carleton.tim.ksat.client.command.RemoveResult">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="ca.carleton.tim.ksat.client.KSATRoot">
               </instanceof>
            </iterate></activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.CreateNewDatabase"
              label="Create New Database ..."
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isRoot">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.ConnectToDatabase"
              label="Connect to Database"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isDisconnectedDatabase">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.DisconnectFromDatabase"
              label="Disconnect from Database"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isConnectedDatabase">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.EditDatabase"
              label="Edit Database Properties..."
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isDisconnectedDatabase">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RemoveDatabase"
              label="Remove Database"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isDisconnectedDatabase">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.CreateNewAnalysis"
              label="Create New Analysis"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isConnectedDatabase">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.CreateTables"
              label="Create Tables"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isConnectedDatabase">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RunAnalysis"
              label="Run Analysis ..."
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isAnalysis">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RemoveAnalysis"
              label="Remove Analysis"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isAnalysis">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.ExportCSV"
              label="Export to CSV file ..."
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isResult">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:ca.carleton.tim.ksat.client.views.sites?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.AddSite"
              label="Add Sites"
              style="push">
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RemoveSite"
              label="Remove Site"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isSite">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:ca.carleton.tim.ksat.client.views.keywords?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.AddKeywords"
              label="Add Keyword Expressions"
              style="push">
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RemoveKeyword"
              label="Remove Keyword"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                    <reference
                          definitionId="isKeyword">
                    </reference>
               </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:ca.carleton.tim.ksat.client.views.analyses?after=additions">
        <command
              commandId="ca.carleton.tim.ksat.client.command.RemoveResult"
              label="Remove Result"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <reference
                    definitionId="isResult">
              </reference>
           </visibleWhen>
        </command>
     </menuContribution>
   </extension>

</plugin>
