<!DOCTYPE html>
<html>
  <head>
<meta name="author" content="Mike Norman" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" href="{{ site.url_root }}/css/ksat.css" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon"/>
    <title>Keyword Search and Analysis Tool : {{ page.title }}</title>
    <meta name="description" content="Keyword Search and Analysis Tool">
  </head>
  <body>
    <a href="http://github.com/mwnorman/KSAT"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" /></a>
    <div id="site">
      <h1><a href="/">Keyword Search and Analysis Tool</a></h1>
      <div class="clear"></div>
      <div id="sidebar" class="vcard">
        <h3>Contact me</h3>
        <dl id="contact">
          <dt>Email</dt>
          <dd class="email"><a href="mailto:mwnorman@gmail.com">mwnorman@gmail.com</a></dd>
          <dt>Twitter</dt>
          <dd><a href="http://twitter.com/foobar3">Twitter</a></dd>
          <dt>LinkedIn</dt>
          <dd><a href="http://ca.linkedin.com/pub/michael-norman/1/96a/204">LinkedIn</a></dd>
        </dl>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>